.btn {
  padding: 0.5em 2em;
  background-color: white;
  color: #48cfcb;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(0.9);
}

a:focus {
  outline: none;
  border: none;
  color: rgb(244, 242, 242);
  border-radius: 8px;
}

.small-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 2em 1em;
}

.section-heading {
  margin: 0 auto;
  padding: 0.2em 0.3em;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.lead {
  text-align: center;
  color: #48cfcb;
  font-size: 1.2rem;
  margin: 1em 0;
  text-transform: uppercase;
}

.white-section {
  padding: 2em 1em;
  background-color: white;
}

.white-block {
  position: absolute;
  height: 35px;
  width: 60%;
  background-color: white;
}
.white-block-left {
  bottom: -2px;
  left: -50px;
  transform: skew(45deg);
}
.white-block-left--gray {
  background-color: #22a8a4;
}
.white-block-right {
  top: -2px;
  right: -50px;
  transform: skew(45deg);
}

.hidden {
  opacity: 0;
  transform: translateX(-101%);
  filter: blur(5px);
  transition: all 2s;
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.dark-mode {
  background-color: #252525;
  color: white;
}

.dark-mode-gradient {
  background: linear-gradient(45deg, rgba(37, 37, 37, 0.65), rgba(37, 37, 37, 0.6));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  height: 100vh;
  transition: all 0.7s;
  color: rgb(37, 37, 37);
}

.contact-bar {
  position: fixed;
  top: 0;
  background-color: #48cfcb;
  display: none;
  height: 50px;
  width: 100%;
  padding: 1em;
  z-index: 100;
}
.contact-bar__boxes {
  display: flex;
  justify-content: space-between;
}
.contact-bar-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
  color: white;
}
.contact-bar-info p {
  padding: 0 1em;
}
.contact-bar-info i {
  font-size: 1.2rem;
  padding: 0 0.3em;
}
.contact-bar-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-right: 3em;
  cursor: pointer;
  color: white;
}
.contact-bar-socialmedia i {
  font-size: 1.2rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: rgb(233, 233, 233);
  z-index: 10;
  transition: all 0.7s;
}

.navbar {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  background-image: url("../img/Wetwall-Logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
.navbar__menu {
  position: fixed;
  display: flex;
  transform: translateY(-200%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(34, 151, 153);
  transition: all 0.7s;
}
.navbar__menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.navbar__menu-links-item {
  list-style: none;
  margin: 0 0.5em;
}
.navbar__menu-links-item a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5em;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.navbar__menu-links-item a::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fefefe;
  left: -10px;
  bottom: 50%;
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.3s ease;
}
.navbar__menu-links-item a:hover::before {
  opacity: 1;
}
.navbar__optionsbox {
  display: flex;
  align-items: center;
}
.navbar__optionsbox-lights {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.3em;
}
.navbar__optionsbox-lights i {
  position: absolute;
  color: #48cfcb;
  cursor: pointer;
  font-size: 2rem;
  transition: opacity 0.3s ease;
}
.navbar__optionsbox-lights .sun {
  opacity: 0;
  pointer-events: none;
}
.navbar__optionsbox-lights.active .sun {
  opacity: 1;
  pointer-events: auto;
}
.navbar__optionsbox-lights.active .moon {
  opacity: 0;
  pointer-events: auto;
}
.navbar__optionsbox-menu {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.3em;
}
.navbar__optionsbox-menu i {
  position: absolute;
  color: #48cfcb;
  cursor: pointer;
  font-size: 2rem;
  transition: opacity 0.5s ease;
  transition-delay: 0.1s;
}
.navbar__optionsbox-menu .exit {
  opacity: 0;
  pointer-events: none;
}
.navbar__optionsbox-menu.active .exit {
  opacity: 1;
  pointer-events: auto;
}
.navbar__optionsbox-menu.active .burger {
  opacity: 0;
  pointer-events: auto;
}

.navbar__menu.active-menu {
  transform: translateY(0);
  filter: blur(0);
  transition: all 0.5s ease;
}

.header {
  background: linear-gradient(45deg, rgba(37, 37, 37, 0.65), rgba(37, 37, 37, 0.6)), url("../img/HeroImage.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 0.7s;
}
.header__box {
  height: 200px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.header__box-logo {
  background-image: url("../img/logo.png");
  background-position: center;
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;
  width: 500px;
}
.header__box-heading {
  color: #48cfcb;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0.3em;
}
.header__box-lead {
  text-align: center;
  font-size: 1.2rem;
  margin: 1em 0;
  text-transform: uppercase;
}

.quote {
  background: linear-gradient(90deg, rgba(34, 151, 153, 0.75), rgba(34, 151, 153, 0.85));
}
.quote__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.quote-heading {
  color: white;
  margin: 0 1em;
  text-transform: uppercase;
}

.about {
  padding: 0;
}
.about__boxes {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.about__box {
  display: flex;
  flex-direction: column;
}
.about__box-info {
  padding: 0 2em;
}
.about__box-title {
  position: relative;
  font-size: 1.4rem;
  margin: 1em 0;
}
.about__box-title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 3px solid #48cfcb;
  height: 5px;
  width: 20%;
}
.about__box-lead {
  text-align: left;
  color: #48cfcb;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.3em 0;
  text-transform: uppercase;
}
.about__box-text {
  margin: 0.5em 0;
  text-align: left;
  font-size: 1.2rem;
}
.about__box-btn {
  background-color: #48cfcb;
  color: white;
  padding: 0.5em 1em;
  width: 50%;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0.5em 0;
}
.about__box-img {
  display: block;
  background-image: url("../img/2150700254.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.packages .section-heading {
  color: #48cfcb;
  position: relative;
}
.packages .section-heading::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: translate(50%);
  border-bottom: 3px solid #48cfcb;
  width: 50%;
}
.packages__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.packages__box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  background-color: #48cfcb;
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
}
.packages__box i {
  font-size: 1.4rem;
}
.packages__box-text {
  text-transform: uppercase;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .section-heading {
  color: #48cfcb;
  position: relative;
  margin: 2em;
}
.portfolio .section-heading::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: translate(50%);
  border-bottom: 3px solid #48cfcb;
  width: 50%;
}
.portfolio__boxes {
  background: linear-gradient(90deg, rgba(34, 151, 153, 0.75), rgba(34, 151, 153, 0.85));
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
}
.portfolio-heading {
  color: white;
  margin: top 2em;
  text-transform: uppercase;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.slider-box {
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.5s;
}

.slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-slider {
  position: absolute;
  font-size: 2rem;
  color: #48cfcb;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5em;
  cursor: pointer;
  background-color: rgb(37, 37, 37);
  border: none;
}
.btn-slider :hover span {
  transform: scale(0.8);
}

.btn-left {
  left: 0;
}

.btn-right {
  right: 0;
}

.footer {
  background: #021526;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__text {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}
.footer__year {
  margin-right: 0.5em;
}

.social-icon,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
  padding: 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
  color: #48cfcb;
  padding: 0;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  color: #48cfcb;
  padding: 0;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.7;
  font-weight: 500;
  color: #48cfcb;
}

.menu__link:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */